.navBarEffects{
    border-radius: 30px;
    padding: 10px;
    transition: .5s ease-out;

}

.navBarEffects:hover{
    background-color: rgb(233, 231, 231);
    transition: .5s ease-in;
}

.filterBar{
    border-radius: 30px;
    padding: 5px;
    border:solid rgb(231, 231, 231) 1px
}